{{ template "header" }}
<div class="content-block">
 <h1>Hello and welcome</h1>
 <p>
{{ template "home" }}
 </p>
</div>
{{ range $element := . }}
	<div>
		<h1>Deployment Name: {{ $element.name }}</h1>
		<p>Namespace: {{ $element.namespace }}</p>
		<p>Number of replicas: {{ $element.replicas }}</p>
		<p>Containers:</p>
		{{ range $k, $v := $element.containers }}
			<p>{{ $k }}:{{ $v }}</p>
		{{ end }}
		
	</div>
{{ end }}
{{ template "footer" }}
